$feature-flags: (
  enable-css-custom-properties: true,
  grid-columns-16: true,
);

@import 'carbon-components/scss/globals/scss/styles';
@import 'carbon-components/scss/globals/scss/_css--helpers.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/_mixins.scss';

:root {
  @include carbon--theme($carbon--theme--g100, true);
}
